<div class="namma-bagge"> 
  <h2> ಪದ ಸಂಚಯದ ಬಗ್ಗೆ: </h2>
  <div class="about-paragraph"> 
    <p> 
     ಕನ್ನಡದಲ್ಲಿ ಸಾಮಾನ್ಯವಾಗಿ ತಪ್ಪಾಗಿ ಬಳಸುವ ಪದಗಳ ಪದಕೋಶವನ್ನು ತಯಾರಿಸುವ ಆಲೋಚನೆ ಸಂಚಯ ತಂಡಕ್ಕೆ ಬಹಳ ದಿನಗಳಿಂದಿದ್ದು, ಪದ ಸಂಚಯದ ಮೂಲಕ ಅದು ನನಸಾಗುತ್ತಿದೆ.ಕೇವಲ ಕನ್ನಡ ಪದಗಳಲ್ಲದೆ ಇಂಗ್ಲೀಷ್, ಹಿಂದಿ ಪದಗಳನ್ನು ಕನ್ನಡದಲ್ಲಿ ಬರೆಯುವಾಗ ಕಂಡುಬರುವ ತಪ್ಪುಗಳನ್ನು ಒಂದೆಡೆ ಸೇರಿಸುವ ಪ್ರಯತ್ನ ಇದಾಗಿದ್ದು,ಕನ್ನಡ ಸಮುದಾಯ ಒಟ್ಟಿಗೆ ಸೇರಿ ಪದಗಳನ್ನು ಕ್ರೂಢೀಕರಿಸುವ ಕೆಲಸ ಇದಾಗಿರುತ್ತದೆ. ಕ್ರೌಡ್‌ಸೋರ್ಸಿಂಗ್ ಮೂಲಕ ಈ ಕಾರ್ಯವನ್ನು ಪೂರೈಸಲು ಪದ ಸಂಚಯ ಈಗ ನಿಮ್ಮ ಮುಂದಿದೆ.
   </p>
   <p>
     <b> ಮುಂದಿನ ಯೋಜನೆ </b> 
   </p>
   <p>
     ಕನ್ನಡ ಸಂಚಯದ ಎಲ್ಲ ಯೋಜನೆಗಳಲ್ಲಿ ಬಳಕೆಯಾಗುವ ಪದಕೋಶವನ್ನೂ ಸಹ ಪದ ಸಂಚಯದ ಮೂಲಕ ಮುಂದಿನ ದಿನಗಳಲ್ಲಿ ನೀಡಲಾಗುವುದು.
   </p>
   <p>
     <b> ತಂಡ </b>
     <ul>
      <li>ಎನ್.ಎ.ಎಮ್ ಇಸ್ಮಾಯಿಲ್</li>
      <li>ದೇವರಾಜ್ ಕೆ</li>
      <li>ಓಂಶಿವಪ್ರಕಾಶ್ ಎಚ್.ಎಲ್</li>
    </ul>
  </p>
  <p>
    <b> ನಮ್ಮ ಇತರೆ ಯೋಜನೆಗಳು </b>
    <ul>
      <li> <a href="http://vachana.sanchaya.net" target="_blank"> ವಚನ ಸಂಚಯ </a> </li>
    </ul>
  </p>
</div>
</div>

