<div class="control-group">
  <%= f.label :name,"Wrong Word", :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :name ,  :class => 'text_field' %>
    <% @word_languages.each do |lang| %>
    <%= lang.language_code %>
    <%= f.radio_button :word_language_id, lang.id %>
    <% end %>
  </div>
</div>

