<div class="page-header main-page-header">
  <h1>  Pada </h1>

  <div class="form-group">
    <%= search_form_for @q do |f| %>
    <%= f.search_field :name_or_correct_words_name_or_wrong_words_name_cont ,autofocus: true , class: 'form-control', placeholder: "Search" %>
    <% end %>
  </div>


</div>
<% if current_user %>
<%= link_to "New Word",
new_word_path,
:class => 'btn btn-primary' %> 
<% end %>
<div class="word-lists"> 
  <%= render 'word_lists' %>
</div>

