<div class="page-header">
<h1>  Pada </h1>

  <div class="form-group">
    <%= search_form_for @q do |f| %>
    <%= f.search_field :name_or_correct_words_name_cont , class: 'form-control', placeholder: "Search" %>
    <% end %>
  </div>


</div>
<div class="word-lists"> 
  <%= render 'word_lists' %>
</div>
<%= link_to "New",
new_word_path,
:class => 'btn btn-primary' %>
