<div class="page-header">
  <h1>  Words </h1>
  <%= form_tag words_path,method: :get  do %>
  <%= text_filed_tag 'word' %>
  <% end %>
</div>
<div class="word-lists"> 
  <%= render 'word_lists' %>
</div>
<%= link_to "New",
new_word_path,
:class => 'btn btn-primary' %>
